body{
    background-color: black;
}
.cntdiv {
    background-color: white;
    height:calc(100%+50px);
    width: 50%;
    box-shadow:0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
    border-radius: 20px;
    padding: 0 20px;
    margin-left: 25%;
}
.titleinp {
    border: none;
    outline: none;
    width: 100%;
    font-weight:900;
}
.notes {
    margin-left: 20%;
    display: flex;
    flex-wrap: wrap;
}
.edits {
    display: none;
    /* margin-top: 25%;
    justify-content: flex-end; */
}
.card:hover .edits {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.edits button {
    text-align: center;
    flex:1;
}
.tedit,.cedit {
    border: none;
    outline: none;
    width: 100%;
}
.epro{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.fl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.pop {
    display: none;
    position: absolute;
    top:25%;
    background-color: white;
    width: 50%;
    border-radius: 20px;
    padding: 0 20px;
    margin-left: 25%;
}
@media only screen and (max-width: 600px) {
    .addbtn {
        margin-left: 8rem;
    }
    .notes{
        margin: 0;
    }
}

